<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Programming Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item h-25">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="w-75 p-3 row" style="float: none; margin: 20px auto 0;">
  <h1 th:text="${post.title}"></h1>
  <div style="display: block;">
    <span th:if="${post.author != null}" th:text="${post.author.name}"></span> ·
    <div th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
  </div>
  <div style="display: block; margin-bottom: 5px;">
    조회수 : <span th:text="${post.views}"></span>
  </div>

  <div class="my-3">
    <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary"
       th:data-uri="@{|/post/like/${post.id}|}">
      추천
      <span class="badge rounded-pill bg-success" th:text="${#lists.size(post.likes)}"></span>
    </a>
    <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary"
       sec:authorize="isAuthenticated()"
       th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
       th:text="수정"></a>
    <a href="javascript:void(0);" th:data-uri="@{|/post/remove/${post.id}|}"
       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
       th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
       th:text="삭제"></a>
  </div>
  <hr>
  <div th:utext="${post.content}"></div>
  <img src="/img/home.png">
  <div class="border-bottom my-3 py-2"></div>
    <div id="utterances-container"></div>
    <script src="https://utteranc.es/client.js"
            repo="kyungparkmin/blog-project"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach((element) => {
    element.addEventListener('click', () => {
      if (confirm("삭제하시겠습니까?")) {
        location.href = element.dataset.uri;
      }
    });
  });
  const like_elements = document.getElementsByClassName("like");
  Array.from(like_elements).forEach((element) => {
    element.addEventListener('click', () => {
      if(confirm("추천하시겠습니까?")) {
        location.href = element.dataset.uri;
      }
    })
  })
</script>

</html>